.swiper {
    width: 80vw;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    padding-top: 2em;
}

.swiper .swiper-button-next {
    right: 35%;
}

.swiper .swiper-button-prev {
    left: 35%;
}

.sources {
    font: 300 1em 'Fira Sans', sans-serif;
    padding-top: 0.25em;
    padding-bottom: 3em;
}

.source__item {
    box-sizing: border-box;
    text-align: center;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    padding: 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
}
